<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Set root logger level to INFO, so DEBUG logs won't print -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

    <!-- Optional: You can set specific loggers to different levels -->
    <logger name="net.dv8tion.jda" level="INFO" />
</configuration>
